Repository DefangLabs/defang, pull requests merged in 2025-09, with the labels that each got.

#1409 BYOC mcp
  pkgs/defang/cli.nix
  src/cmd/cli/command/mcp.go
  src/go.mod
  src/go.sum
  src/pkg/mcp/prompts/awsBYOC.go
  src/pkg/mcp/prompts/common.go
  src/pkg/mcp/prompts/gcpBYOC.go
  src/pkg/mcp/prompts/playgroundSetup.go
  src/pkg/mcp/prompts/prompts.go
  src/pkg/mcp/resources/resources.go
  src/pkg/mcp/tools/common.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
  src/pkg/mcp/tools/tools.go
Labels: mcp

#1446 Added a client picker for mcp setup command
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/mcp.go
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Labels: mcp

#1451 MCP setup bug on empty JSON file
  src/cmd/cli/command/mcp.go
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Labels: mcp

#1477 feat: add ResourceType enum
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Labels: wip

#1475 added support for different compose file(s)
  src/pkg/mcp/tools/common.go
  src/pkg/mcp/tools/tools.go
Labels: customer feedback, mcp
