Repository DefangLabs/defang, changes with the owners that CODEOWNERS names for each.
All owners: @nullfunc, @raphaeltm, @lionello

CODEOWNERS:

# Default owners for everything
*       @nullfunc

# GitHub actions and repo configuration
/.github/**       @nullfunc @raphaeltm

# Go command line tool
/src/**       @lionello @nullfunc

# Packaging with Nix
/pkgs/defang/**   @lionello

promote const
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

add managed db tags to generate heroku compose file
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

invert handleGenerate so that cloneSample prompts and delegates to ai generate if necessary
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

fold beforeGenerateWithAI back into aiGenerate
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

partition sample and generate code paths
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

fold beforeGenerateFromSample back into cloneSample
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

factor out afterGenerate
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

automatically generate heroku token
  src/pkg/migrate/heroku.go
Owners: @lionello, @nullfunc

interactive login before heroku migration
  src/cmd/cli/command/commands.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

wip
  .golangci.yaml
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/compose.go
  src/cmd/cli/command/compose_test.go
  src/cmd/cli/command/deploymentinfo.go
  src/cmd/cli/command/deploymentinfo_test.go
  src/cmd/cli/command/version.go
  src/cmd/cli/command/version_test.go
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/aws/byoc_integration_test.go
  src/pkg/cli/client/byoc/aws/stream.go
  src/pkg/cli/client/byoc/baseclient.go
  src/pkg/cli/client/byoc/baseclient_test.go
  src/pkg/cli/client/byoc/do/byoc.go
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/composeUp_test.go
  src/pkg/cli/configrandom.go
  src/pkg/cli/configrandom_test.go
  src/pkg/cli/deploymentinfo.go
  src/pkg/cli/deploymentinfo_test.go
  src/pkg/cli/getServices.go
  src/pkg/cli/getServices_test.go
  src/pkg/clouds/aws/cw/logs.go
  src/pkg/clouds/aws/cw/logs_test.go
  src/pkg/clouds/aws/cw/merge.go
  src/pkg/clouds/aws/cw/stream.go
  src/pkg/clouds/aws/cw/stream_test.go
  src/pkg/clouds/aws/ecs/event.go
  src/pkg/clouds/aws/ecs/status_test.go
  src/pkg/clouds/aws/ecs/tail.go
  src/pkg/github/version.go
  src/pkg/github/version_test.go
  src/pkg/mcp/deployment_info/deployment_info.go
  src/pkg/mcp/tools/services.go
  src/pkg/term/input.go
  src/pkg/types/driver.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @nullfunc, @lionello

heroku migration with defang init (#1354)
  pkgs/defang/cli.nix
  src/cmd/cli/command/commands.go
  src/go.mod
  src/go.sum
  src/pkg/cli/client/client.go
  src/pkg/cli/client/grpc.go
  src/pkg/cli/compose/config_detector.go
  src/pkg/cli/compose/config_detector_test.go
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/compose/validation.go
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
  src/pkg/migrate/platform.go
  src/pkg/setup/setup.go
  src/pkg/surveyor/surveyor.go
  src/protos/io/defang/v1/defangv1connect/fabric.connect.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

heroku migration with defang init (#1354)
  pkgs/defang/cli.nix
  src/cmd/cli/command/commands.go
  src/go.mod
  src/go.sum
  src/pkg/cli/client/client.go
  src/pkg/cli/client/grpc.go
  src/pkg/cli/compose/config_detector.go
  src/pkg/cli/compose/config_detector_test.go
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/compose/validation.go
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
  src/pkg/migrate/platform.go
  src/pkg/setup/setup.go
  src/pkg/surveyor/surveyor.go
  src/protos/io/defang/v1/defangv1connect/fabric.connect.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

revert: use DEFANG_EDITOR instead of EDITOR
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

revert: use DEFANG_EDITOR instead of EDITOR (#1370)
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

revert: use DEFANG_EDITOR instead of EDITOR (#1370)
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

use login.InteractiveRequireLoginAndToS in MigrateFromHeroku
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

break out cluster package
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/deploymentinfo.go
  src/cmd/cli/command/deploymentinfo_test.go
  src/pkg/cli/connect.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/login/login.go
  src/pkg/login/login_test.go
Owners: @lionello, @nullfunc

pull dry run into new package
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/compose.go
  src/pkg/cli/agree_tos.go
  src/pkg/cli/bootstrap.go
  src/pkg/cli/common.go
  src/pkg/cli/composeDown.go
  src/pkg/cli/composeUp.go
  src/pkg/cli/configDelete.go
  src/pkg/cli/configDelete_test.go
  src/pkg/cli/configSet.go
  src/pkg/cli/configSet_test.go
  src/pkg/cli/debug.go
  src/pkg/cli/delete.go
  src/pkg/cli/generate.go
  src/pkg/cli/sendMsg.go
  src/pkg/cli/tail.go
  src/pkg/cli/teardown.go
  src/pkg/cli/token.go
  src/pkg/dryrun/dryrun.go
Owners: @lionello, @nullfunc

mv InteractiveRequireLoginAndToS into login package
  src/cmd/cli/command/commands.go
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

push up interactivity check
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

automatically authenticate with heroku
  src/pkg/migrate/heroku.go
Owners: @lionello, @nullfunc

factor out RequireLoginAndToS
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

move prettyError into client
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/pretty_error.go
  src/pkg/cli/connect.go
  src/pkg/cli/connect_test.go
  src/pkg/cli/tail.go
Owners: @lionello, @nullfunc

pas fabric and cluster addr into InteractiveRequireLoginAndToS
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

move login and agree_tos into login package
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/mcp.go
  src/pkg/cli/connect.go
  src/pkg/login/agree_tos.go
  src/pkg/login/login.go
  src/pkg/login/login_test.go
  src/pkg/mcp/tools/login.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

use EDITOR instead of DEFANG_EDITOR
  README.md
  src/cmd/cli/command/commands.go
Owners: @nullfunc, @lionello

upgrade mcp-go to v0.29.0
  src/go.mod
  src/go.sum
  src/pkg/mcp/tools/common.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
Owners: @lionello, @nullfunc

upgrade nix shell go mod vendorHash
  pkgs/defang/cli.nix
Owners: @lionello

add heroku pg info to compose generation context
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

Apply suggestions from code review
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/setConfig.go
Owners: @lionello, @nullfunc

add dyno size info to the compose generate context
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

upgrade mcp-go to v0.29.0 (#1372)
  pkgs/defang/cli.nix
  src/go.mod
  src/go.sum
  src/pkg/mcp/tools/common.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
Owners: @lionello, @nullfunc

upgrade mcp-go to v0.29.0 (#1372)
  pkgs/defang/cli.nix
  src/go.mod
  src/go.sum
  src/pkg/mcp/tools/common.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
Owners: @lionello, @nullfunc

add release tasks to heroku compose generation context
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

add additional heroku context for compose generation (#1373)
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

add additional heroku context for compose generation (#1373)
  src/pkg/migrate/heroku.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

Improve authentication flow when migrating from heroku (#1371)
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/compose.go
  src/cmd/cli/command/deploymentinfo.go
  src/cmd/cli/command/deploymentinfo_test.go
  src/cmd/cli/command/mcp.go
  src/pkg/cli/bootstrap.go
  src/pkg/cli/client/pretty_error.go
  src/pkg/cli/common.go
  src/pkg/cli/composeDown.go
  src/pkg/cli/composeUp.go
  src/pkg/cli/configDelete.go
  src/pkg/cli/configDelete_test.go
  src/pkg/cli/configSet.go
  src/pkg/cli/configSet_test.go
  src/pkg/cli/connect.go
  src/pkg/cli/connect_test.go
  src/pkg/cli/debug.go
  src/pkg/cli/delete.go
  src/pkg/cli/generate.go
  src/pkg/cli/sendMsg.go
  src/pkg/cli/tail.go
  src/pkg/cli/teardown.go
  src/pkg/cli/token.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/dryrun/dryrun.go
  src/pkg/login/agree_tos.go
  src/pkg/login/login.go
  src/pkg/login/login_test.go
  src/pkg/mcp/tools/login.go
  src/pkg/migrate/heroku.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

Improve authentication flow when migrating from heroku (#1371)
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/compose.go
  src/cmd/cli/command/deploymentinfo.go
  src/cmd/cli/command/deploymentinfo_test.go
  src/cmd/cli/command/mcp.go
  src/pkg/cli/bootstrap.go
  src/pkg/cli/client/pretty_error.go
  src/pkg/cli/common.go
  src/pkg/cli/composeDown.go
  src/pkg/cli/composeUp.go
  src/pkg/cli/configDelete.go
  src/pkg/cli/configDelete_test.go
  src/pkg/cli/configSet.go
  src/pkg/cli/configSet_test.go
  src/pkg/cli/connect.go
  src/pkg/cli/connect_test.go
  src/pkg/cli/debug.go
  src/pkg/cli/delete.go
  src/pkg/cli/generate.go
  src/pkg/cli/sendMsg.go
  src/pkg/cli/tail.go
  src/pkg/cli/teardown.go
  src/pkg/cli/token.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/dryrun/dryrun.go
  src/pkg/login/agree_tos.go
  src/pkg/login/login.go
  src/pkg/login/login_test.go
  src/pkg/mcp/tools/login.go
  src/pkg/migrate/heroku.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

use the correct README.md instead of the src/README.
  src/.goreleaser.yml
Owners: @lionello, @nullfunc

fix(railpack): set file mode in zip
  src/pkg/cli/compose/context.go
Owners: @lionello, @nullfunc
