Repository DefangLabs/defang, changes with the owners that CODEOWNERS names for each.
All owners: @nullfunc, @raphaeltm, @lionello

feat: add request ID to Tail/Subscribe calls
  src/pkg/cli/client/grpc_logger.go
Owners: @lionello, @nullfunc

chore: use canonical header names
  src/pkg/auth/interceptor.go
Owners: @lionello, @nullfunc

update nix vendorHash
  pkgs/defang/cli.nix
Owners: @lionello

feat: add request ID to Tail/Subscribe calls (#1388)
  src/pkg/auth/interceptor.go
  src/pkg/cli/client/grpc_logger.go
Owners: @lionello, @nullfunc

feat: add request ID to Tail/Subscribe calls (#1388)
  src/pkg/auth/interceptor.go
  src/pkg/cli/client/grpc_logger.go
Owners: @lionello, @nullfunc

added support and test for Claude code
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

Apply suggestions from code review
  README.md
  src/README.md
Owners: @nullfunc, @lionello

use the correct README.md instead of the src/README. (#1375)
  Makefile
  README.md
  src/README.md
Owners: @nullfunc, @lionello

use the correct README.md instead of the src/README. (#1375)
  Makefile
  README.md
  src/README.md
Owners: @nullfunc, @lionello

replace global client with new one after cli.Connect
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

Need .zip for GCP cloudbuild railpack (#1362)
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

Need .zip for GCP cloudbuild railpack (#1362)
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

replace global client with new one after cli.Connect (#1390)
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

replace global client with new one after cli.Connect (#1390)
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

Updated correct testcases
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

comment type
  src/pkg/migrate/migrate.go
Owners: @lionello, @nullfunc

use shellescape.QuoteCommand
  src/pkg/migrate/migrate.go
Owners: @lionello, @nullfunc

Normalize compose commands when generating for heroku migration (#1384)
  pkgs/defang/cli.nix
  src/go.mod
  src/go.sum
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

Normalize compose commands when generating for heroku migration (#1384)
  pkgs/defang/cli.nix
  src/go.mod
  src/go.sum
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

update header (was using old one). Update makefile to only run the src/README.md update when the root README.md has changed.
  Makefile
Owners: @nullfunc

update makefile to only output message when src/README.md is regenerated
  Makefile
Owners: @nullfunc

Updated test name to Claude Desktop
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

added support and test for Claude code (#1389)
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

added support and test for Claude code (#1389)
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

added support and test for Claude code (#1389)
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

do not wait for local pulumi, just like when using a remote task
  src/pkg/cli/client/byoc/common.go
Owners: @lionello, @nullfunc

chore: add test case for railpack command fixup
  src/testdata/railpack/compose.yaml
  src/testdata/railpack/compose.yaml.fixup
  src/testdata/railpack/compose.yaml.golden
Owners: @lionello, @nullfunc

fixup railpack commands to compensate for bash -c entrypoint
  src/pkg/cli/compose/fixup.go
Owners: @lionello, @nullfunc

golden file does not include fixup
  src/testdata/railpack/compose.yaml.golden
Owners: @lionello, @nullfunc

chore: add test case for railpack command fixup (#1392)
  src/pkg/cli/compose/fixup.go
  src/testdata/railpack/compose.yaml
  src/testdata/railpack/compose.yaml.fixup
  src/testdata/railpack/compose.yaml.golden
Owners: @lionello, @nullfunc

chore: add test case for railpack command fixup (#1392)
  src/pkg/cli/compose/fixup.go
  src/testdata/railpack/compose.yaml
  src/testdata/railpack/compose.yaml.fixup
  src/testdata/railpack/compose.yaml.golden
Owners: @lionello, @nullfunc

continue to tail after using local pulumi
  src/pkg/cli/client/byoc/common.go
Owners: @lionello, @nullfunc

refactor compose.ValidateProjectConfig to compose.GetMissingConfigVars
  src/cmd/cli/command/commands.go
  src/pkg/cli/compose/validation.go
  src/pkg/cli/compose/validation_test.go
  src/pkg/cli/composeUp.go
Owners: @lionello, @nullfunc

Revert "refactor compose.ValidateProjectConfig to compose.GetMissingConfigVars"
  src/cmd/cli/command/commands.go
  src/pkg/cli/compose/validation.go
  src/pkg/cli/compose/validation_test.go
  src/pkg/cli/composeUp.go
Owners: @lionello, @nullfunc

retry compose up after recoverable errors
  src/cmd/cli/command/compose.go
  src/pkg/cli/compose/validation.go
  src/pkg/mcp/tools/common.go
Owners: @lionello, @nullfunc

working vscode config test
  src/pkg/cli/compose/compare.go
  src/pkg/cli/compose/fixup_test.go
  src/pkg/cli/compose/loader_test.go
  src/pkg/cli/compose/validation_test.go
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

simplify src/README.md generation by using intrinsic functionality of Makefile
  Makefile
Owners: @nullfunc

Combine vscode and standard into one test
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

Improve config desc
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

remove obsolete command fixup from compose generation
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

CODEOWNERS:

# Default owners for everything
*       @nullfunc

# GitHub actions and repo configuration
/.github/**       @nullfunc @raphaeltm

# Go command line tool
/src/**       @lionello @nullfunc

# Packaging with Nix
/pkgs/defang/**   @lionello
