Repository DefangLabs/defang, changes with the owners that CODEOWNERS names for each.
All owners: @nullfunc, @raphaeltm, @lionello

CODEOWNERS:

# Default owners for everything
*       @nullfunc

# GitHub actions and repo configuration
/.github/**       @nullfunc @raphaeltm

# Go command line tool
/src/**       @lionello @nullfunc

# Packaging with Nix
/pkgs/defang/**   @lionello

Add storage account creation
  src/go.mod
  src/go.sum
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/run.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/setup_test.go
  src/pkg/clouds/azure/common.go
  src/pkg/clouds/azure/job.go
Owners: @lionello, @nullfunc

Added KIRO support to MCP setup
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

False alert on client bug
  src/pkg/mcp/setup.go
Owners: @lionello, @nullfunc

Added KIRO support to MCP setup (#1326)
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

Added KIRO support to MCP setup (#1326)
  src/pkg/mcp/setup.go
  src/pkg/mcp/setup_test.go
Owners: @lionello, @nullfunc

Update vscode insider alias to match CLI name
  src/pkg/mcp/setup.go
Owners: @lionello, @nullfunc

Update vscode insider alias to match CLI name (#1327)
  src/pkg/mcp/setup.go
Owners: @lionello, @nullfunc

Update vscode insider alias to match CLI name (#1327)
  src/pkg/mcp/setup.go
Owners: @lionello, @nullfunc

fix(mcp): use provider from flag/env
  src/cmd/cli/command/mcp.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
  src/pkg/mcp/tools/tools.go
Owners: @lionello, @nullfunc

update to address windows directory no empty error. also expand slack notification for errors on more jobs
  .github/workflows/go.yml
Owners: @nullfunc, @raphaeltm

fix for goreleaser-pro to no re-install, but use existing goreleaser. Fix to on-failure to always show error if failure() is triggered.
  .github/workflows/go.yml
Owners: @nullfunc, @raphaeltm

correct naming of goreleaser binary to call
  .github/workflows/go.yml
Owners: @nullfunc, @raphaeltm

update to address windows directory not empty error (#1328)
  .github/workflows/go.yml
Owners: @nullfunc, @raphaeltm

update to address windows directory not empty error (#1328)
  .github/workflows/go.yml
Owners: @nullfunc, @raphaeltm

Add CanIUse to MCP deploy
  src/pkg/mcp/tools/deploy.go
Owners: @lionello, @nullfunc

Fix BYOC deployment canIUse
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
Owners: @lionello, @nullfunc

fix(mcp): use provider from flag/env (#1325)
  src/cmd/cli/command/mcp.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
  src/pkg/mcp/tools/tools.go
Owners: @lionello, @nullfunc

fix(mcp): use provider from flag/env (#1325)
  src/cmd/cli/command/mcp.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/pkg/mcp/tools/estimate.go
  src/pkg/mcp/tools/listConfig.go
  src/pkg/mcp/tools/removeConfig.go
  src/pkg/mcp/tools/services.go
  src/pkg/mcp/tools/setConfig.go
  src/pkg/mcp/tools/tools.go
Owners: @lionello, @nullfunc

in progress
  src/pkg/cli/compose/fixup.go
Owners: @lionello, @nullfunc

save untested changes
  src/pkg/cli/compose/fixup.go
Owners: @lionello, @nullfunc

Call debugger on composeUp errors
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/byoc/baseclient.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Call debugger on composeUp errors
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/byoc/baseclient.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

update gcp error warning
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

add email when possible
  src/go.mod
  src/go.sum
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

update vendorHash after new includes
  pkgs/defang/cli.nix
Owners: @lionello

update to use error from trying to get ADC
  src/pkg/cli/client/byoc/gcp/byoc.go
Owners: @lionello, @nullfunc

Address PR comment
  src/cmd/cli/command/compose.go
Owners: @lionello, @nullfunc

Call debugger on composeUp errors (#1335)
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/byoc/baseclient.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

rough cut of PaaS import
  src/cmd/cli/command/commands.go
  src/pkg/setup/anthropic.go
  src/pkg/setup/heroku.go
  src/pkg/setup/platform.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

Address PR comment
  src/cmd/cli/command/compose.go
Owners: @lionello, @nullfunc

Address PR comment
  src/cmd/cli/command/compose.go
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

Call debugger on composeUp errors (#1335)
  src/pkg/cli/compose/context_test.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging (#1336)
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging (#1336)
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Azure WIP
  defang.code-workspace
  flake.nix
  src/go.mod
  src/go.sum
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/azure/byoc.go
  src/pkg/cli/client/byoc/do/stream.go
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/client/provider_id.go
  src/pkg/cli/client/region.go
  src/pkg/clouds/aws/common.go
  src/pkg/clouds/aws/ecs/cfn/setup.go
  src/pkg/clouds/aws/ecs/cfn/setup_test.go
  src/pkg/clouds/aws/ecs/cfn/template.go
  src/pkg/clouds/aws/ecs/logs.go
  src/pkg/clouds/aws/ecs/status.go
  src/pkg/clouds/aws/ecs/tail.go
  src/pkg/clouds/aws/region.go
  src/pkg/clouds/aws/region/region.go
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/common_test.go
  src/pkg/clouds/azure/aci/run.go
  src/pkg/clouds/azure/aci/run_test.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/setup_test.go
  src/pkg/clouds/azure/aci/stop.go
  src/pkg/clouds/azure/aci/tail.go
  src/pkg/clouds/azure/aci/tail_test.go
  src/pkg/clouds/azure/common.go
  src/pkg/clouds/azure/job.go
  src/pkg/clouds/azure/location.go
  src/pkg/clouds/gcp/cloudrun.go
  src/pkg/cmd/factory.go
  src/pkg/types/driver.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @nullfunc, @lionello

Update cli.nix vendorHash
  .github/workflows/go.yml
  pkgs/defang/cli.nix
Owners: @nullfunc, @raphaeltm, @lionello

Add storage account creation
  src/go.mod
  src/go.sum
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/run.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/setup_test.go
  src/pkg/clouds/azure/common.go
  src/pkg/clouds/azure/job.go
Owners: @lionello, @nullfunc
