Repository DefangLabs/defang, changes with the owners that CODEOWNERS names for each.
All owners: @nullfunc, @raphaeltm, @lionello

fix(railpack): set file mode in zip (#1377)
  src/pkg/cli/compose/context.go
Owners: @lionello, @nullfunc

fix(railpack): set file mode in zip (#1377)
  src/pkg/cli/compose/context.go
Owners: @lionello, @nullfunc

update vendor due to dependabot update to lkibrary
  pkgs/defang/cli.nix
Owners: @lionello

preserve variable interpolation when validating generated compose files
  src/pkg/cli/compose/load_content.go
  src/pkg/migrate/migrate.go
Owners: @lionello, @nullfunc

upgrade mcp-go to v0.38.0
  src/go.mod
  src/go.sum
Owners: @lionello, @nullfunc

setup prompt for provider
  src/cmd/cli/command/mcp.go
Owners: @lionello, @nullfunc

preserve variable interpolation when validating generated compose files (#1379)
  src/pkg/cli/compose/load_content.go
  src/pkg/migrate/migrate.go
Owners: @lionello, @nullfunc

preserve variable interpolation when validating generated compose files (#1379)
  src/pkg/cli/compose/load_content.go
  src/pkg/migrate/migrate.go
Owners: @lionello, @nullfunc

spike on byoc mcp
  src/go.mod
  src/go.sum
  src/pkg/mcp/resources/resources.go
Owners: @lionello, @nullfunc

refer to deploying and configuring projects instead of services
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

capitalize Heroku
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

logging heroku API calls
  src/pkg/migrate/heroku.go
Owners: @lionello, @nullfunc

avoid mentioning heroku cli in help text
  src/pkg/migrate/heroku.go
Owners: @lionello, @nullfunc

typo fix
  src/pkg/migrate/heroku.go
Owners: @lionello, @nullfunc

link to heroku migration docs for next steps
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

CLI Copy Edits (#1380)
  src/cmd/cli/command/commands.go
  src/pkg/migrate/heroku.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

CLI Copy Edits (#1380)
  src/cmd/cli/command/commands.go
  src/pkg/migrate/heroku.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

move login and agree_tos into login package
  src/pkg/cli/connect.go
  src/pkg/login/login.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

factor out RequireLoginAndToS
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

move prettyError into client
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

push up interactivity check
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

break out cluster package
  src/pkg/cli/connect.go
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

signature update
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

assign login token to global if set in arg
  src/cmd/cli/command/commands.go
  src/pkg/cluster/cluster.go
Owners: @lionello, @nullfunc

add token handling to login
  src/cmd/cli/command/commands.go
  src/pkg/cluster/cluster.go
  src/pkg/login/login.go
  src/pkg/login/login_test.go
Owners: @lionello, @nullfunc

mv InteractiveRequireLoginAndToS into login package
  src/cmd/cli/command/commands.go
  src/pkg/login/login.go
Owners: @lionello, @nullfunc

pas fabric and cluster addr into InteractiveRequireLoginAndToS
  src/cmd/cli/command/commands.go
Owners: @lionello, @nullfunc

allow passing of access token in login
  src/cmd/cli/command/commands.go
  src/pkg/cluster/cluster.go
Owners: @lionello, @nullfunc

use login.InteractiveRequireLoginAndToS in MigrateFromHeroku
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

set defang env
  src/pkg/mcp/tools/common.go
Owners: @lionello, @nullfunc

feat: show warning when using DEFANG_PULUMI_DIR on Playground
  src/pkg/cli/client/playground.go
Owners: @lionello, @nullfunc

feat: sent SDU to CanIUse rpc
  src/cmd/cli/command/cd.go
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/commands_test.go
  src/cmd/cli/command/compose.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

normalize compose commands for heroku migration
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

Update src/pkg/cli/client/playground.go
  src/pkg/cli/client/playground.go
Owners: @lionello, @nullfunc

Sent SDU to CanIUse rpc (#1383)
  src/cmd/cli/command/cd.go
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/commands_test.go
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/playground.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

Sent SDU to CanIUse rpc (#1383)
  src/cmd/cli/command/cd.go
  src/cmd/cli/command/commands.go
  src/cmd/cli/command/commands_test.go
  src/cmd/cli/command/compose.go
  src/pkg/cli/client/playground.go
  src/pkg/mcp/tools/deploy.go
  src/pkg/mcp/tools/destroy.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

update src/README.md based on root README.md.
  Makefile
  README.md
  src/.goreleaser.yml
  src/README.md
Owners: @nullfunc, @lionello

Need .zip for GCP cloudbuild railpack
  src/pkg/cli/compose/context.go
Owners: @lionello, @nullfunc

Added both .zip and .tar.gz
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

shell quote
  src/go.mod
  src/go.sum
  src/pkg/migrate/migrate.go
  src/pkg/migrate/migrate_test.go
Owners: @lionello, @nullfunc

CODEOWNERS:

# Default owners for everything
*       @nullfunc

# GitHub actions and repo configuration
/.github/**       @nullfunc @raphaeltm

# Go command line tool
/src/**       @lionello @nullfunc

# Packaging with Nix
/pkgs/defang/**   @lionello
