Repository DefangLabs/defang, changes with the owners that CODEOWNERS names for each.
All owners: @nullfunc, @raphaeltm, @lionello

storage account
  src/go.mod
  src/go.sum
  src/pkg/cli/client/byoc/azure/byoc.go
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/common_test.go
  src/pkg/clouds/azure/aci/run.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/setup_test.go
  src/pkg/clouds/azure/aci/stop.go
  src/pkg/clouds/azure/aci/tail.go
  src/pkg/clouds/azure/common.go
  src/pkg/clouds/azure/job.go
Owners: @lionello, @nullfunc

fix(cd): hide node warnings
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/do/byoc.go
Owners: @lionello, @nullfunc

Update Pulumi to 3.187.0
  flake.lock
  flake.nix
Owners: @nullfunc

update from review
  pkgs/defang/cli.nix
  src/cmd/cli/command/commands.go
  src/go.mod
  src/go.sum
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/client/byoc/gcp/getUserEmail.go
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

Update flake (#1344)
  flake.lock
  flake.nix
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/do/byoc.go
Owners: @nullfunc, @lionello

Update flake (#1344)
  flake.lock
  flake.nix
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/do/byoc.go
Owners: @nullfunc, @lionello

Apply suggestions from code review
  src/pkg/cli/client/byoc/gcp/byoc.go
Owners: @lionello, @nullfunc

update gcp error warning (#1338)
  src/cmd/cli/command/commands.go
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/client/byoc/gcp/getUserEmail.go
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

update gcp error warning (#1338)
  src/cmd/cli/command/commands.go
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/client/byoc/gcp/getUserEmail.go
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

fix(azure): context upload
  src/go.mod
  src/go.sum
  src/pkg/cli/client/byoc/azure/byoc.go
  src/pkg/cli/client/client.go
  src/pkg/cli/client/playground.go
  src/pkg/cli/client/provider.go
  src/pkg/cli/compose/context.go
  src/pkg/cli/connect.go
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/upload.go
  src/pkg/clouds/azure/aci/upload_test.go
  src/pkg/clouds/azure/common.go
  src/pkg/http/post.go
  src/pkg/http/put.go
Owners: @lionello, @nullfunc

Use SAS for build context
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/azure/byoc.go
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/compose/context.go
  src/pkg/clouds/azure/aci/common.go
  src/pkg/clouds/azure/aci/setup.go
  src/pkg/clouds/azure/aci/upload.go
Owners: @lionello, @nullfunc

retry if compose file is not valid yaml
  src/go.mod
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

rough cut of PaaS import
  src/cmd/cli/command/commands.go
  src/pkg/setup/anthropic.go
  src/pkg/setup/heroku.go
  src/pkg/setup/platform.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

s/DeriveCompose/GenerateCompose/g
  src/pkg/cli/client/client.go
  src/pkg/cli/client/grpc.go
  src/pkg/setup/setup.go
  src/protos/io/defang/v1/defangv1connect/fabric.connect.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

setup protos
  src/pkg/cli/client/grpc.go
  src/protos/io/defang/v1/defangv1connect/fabric.connect.go
  src/protos/io/defang/v1/fabric.pb.go
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

Don't generate .dockerignore during debugging (#1336)
  src/pkg/cli/compose/context.go
  src/pkg/cli/compose/context_test.go
  src/pkg/cli/debug.go
Owners: @lionello, @nullfunc

Update flake (#1344)
  flake.lock
  flake.nix
  src/pkg/cli/client/byoc/aws/byoc.go
  src/pkg/cli/client/byoc/do/byoc.go
Owners: @nullfunc, @lionello

update gcp error warning (#1338)
  src/cmd/cli/command/commands.go
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/client/byoc/gcp/getUserEmail.go
  src/pkg/clouds/gcp/account.go
Owners: @lionello, @nullfunc

use fabric for llm invocations
  src/pkg/cli/client/client.go
  src/pkg/setup/anthropic.go
  src/pkg/setup/heroku.go
  src/pkg/setup/setup.go
Owners: @lionello, @nullfunc

refactor to expose mockable surveyor interface
  src/cmd/cli/command/commands.go
  src/go.mod
  src/go.sum
  src/pkg/setup/heroku.go
  src/pkg/setup/platform.go
  src/pkg/setup/setup.go
  src/pkg/setup/setup_test.go
Owners: @lionello, @nullfunc

Use pulumi with pulumiPackages.pulumi-nodejs instead of pulumi-bin
  flake.nix
Owners: @nullfunc

Fix walk dir test
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

Update src/pkg/cli/compose/context_test.go
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

Use pulumi with pulumiPackages.pulumi-nodejs instead of pulumi-bin (#1355)
  flake.nix
Owners: @nullfunc

Use pulumi with pulumiPackages.pulumi-nodejs instead of pulumi-bin (#1355)
  flake.nix
Owners: @nullfunc

Revert test case change
  src/pkg/cli/compose/context_test.go
Owners: @lionello, @nullfunc

replace interface{} with any
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/common.go
  src/pkg/cli/compose/validation.go
  src/pkg/cli/composeDown_test.go
  src/pkg/clouds/aws/ecs/ecsserviceaction/marshaller.go
  src/pkg/clouds/aws/ecs/ecstaskstatechange/marshaller.go
  src/pkg/clouds/gcp/account_test.go
  src/pkg/http/client.go
  src/pkg/mcp/setup.go
  src/pkg/term/table.go
  src/pkg/track/track.go
Owners: @lionello, @nullfunc

fix go build tags
  src/pkg/clouds/azure/aci/common_test.go
  src/pkg/clouds/azure/aci/run_test.go
  src/pkg/clouds/azure/aci/setup_test.go
  src/pkg/clouds/azure/aci/tail_test.go
  src/pkg/clouds/azure/aci/upload_test.go
Owners: @lionello, @nullfunc

deprecate PreviewRequest.project_name
  src/protos/io/defang/v1/fabric.proto
Owners: @lionello, @nullfunc

Create app.py
  app.py
Owners: @nullfunc

chore(heroku): add unit test
  src/pkg/cli/compose/serviceNameReplacer.go
  src/pkg/cli/compose/serviceNameReplacer_test.go
  src/testdata/heroku/compose.yaml
  src/testdata/heroku/compose.yaml.fixup
  src/testdata/heroku/compose.yaml.golden
  src/testdata/heroku/compose.yaml.warnings
Owners: @lionello, @nullfunc

Need .zip for GCP cloudbuild railpack
  src/pkg/cli/compose/context.go
Owners: @lionello, @nullfunc

fix: add ports for all redis/postgres services
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/compose/serviceNameReplacer.go
  src/pkg/cli/compose/validation.go
  src/testdata/heroku/compose.yaml.fixup
  src/testdata/mongo/compose.yaml.fixup
Owners: @lionello, @nullfunc

fix: print WhoAmI UserID for debugging
  src/pkg/cli/whoami.go
Owners: @lionello, @nullfunc

fix: print WhoAmI UserID for debugging (#1365)
  src/pkg/cli/whoami.go
Owners: @lionello, @nullfunc

fix: print WhoAmI UserID for debugging (#1365)
  src/pkg/cli/whoami.go
Owners: @lionello, @nullfunc

replace interface{} with any (#1357)
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/common.go
  src/pkg/cli/compose/validation.go
  src/pkg/cli/composeDown_test.go
  src/pkg/clouds/aws/ecs/ecsserviceaction/marshaller.go
  src/pkg/clouds/aws/ecs/ecstaskstatechange/marshaller.go
  src/pkg/clouds/gcp/account_test.go
  src/pkg/http/client.go
  src/pkg/mcp/setup.go
  src/pkg/term/table.go
  src/pkg/track/track.go
Owners: @lionello, @nullfunc

replace interface{} with any (#1357)
  src/pkg/cli/client/byoc/gcp/byoc.go
  src/pkg/cli/common.go
  src/pkg/cli/compose/validation.go
  src/pkg/cli/composeDown_test.go
  src/pkg/clouds/aws/ecs/ecsserviceaction/marshaller.go
  src/pkg/clouds/aws/ecs/ecstaskstatechange/marshaller.go
  src/pkg/clouds/gcp/account_test.go
  src/pkg/http/client.go
  src/pkg/mcp/setup.go
  src/pkg/term/table.go
  src/pkg/track/track.go
Owners: @lionello, @nullfunc

Add default port for all redis/postgres/mongo services (#1364)
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/compose/serviceNameReplacer.go
  src/pkg/cli/compose/serviceNameReplacer_test.go
  src/pkg/cli/compose/validation.go
  src/testdata/heroku/compose.yaml
  src/testdata/heroku/compose.yaml.fixup
  src/testdata/heroku/compose.yaml.golden
  src/testdata/heroku/compose.yaml.warnings
  src/testdata/mongo/compose.yaml.fixup
Owners: @lionello, @nullfunc

Add default port for all redis/postgres/mongo services (#1364)
  src/pkg/cli/compose/fixup.go
  src/pkg/cli/compose/serviceNameReplacer.go
  src/pkg/cli/compose/serviceNameReplacer_test.go
  src/pkg/cli/compose/validation.go
  src/testdata/heroku/compose.yaml
  src/testdata/heroku/compose.yaml.fixup
  src/testdata/heroku/compose.yaml.golden
  src/testdata/heroku/compose.yaml.warnings
  src/testdata/mongo/compose.yaml.fixup
Owners: @lionello, @nullfunc

CODEOWNERS:

# Default owners for everything
*       @nullfunc

# GitHub actions and repo configuration
/.github/**       @nullfunc @raphaeltm

# Go command line tool
/src/**       @lionello @nullfunc

# Packaging with Nix
/pkgs/defang/**   @lionello
